body{
  padding : 0 100px 0 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#head {
  height : 40px;
  padding : 0 0 20px 0;
}

.title {
  font-size: 55px;
  font-weight: bold;
}

.login {
  float: right;
}

.login input {
  padding: 2px;
  margin:1px;
  width: 140px;
  height: 14px;
}

.login .checkbox {
  width: 20px;
  float: right;
}

.hidden_button{
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

#nav { 
  display: block; 
  clear: left; 
  padding: 15px 20px 10px 20px ; 
} 
  
#nav a{                                                                                                  
  font-weight: bold ;
  font-size: 30px ;
}

#back a{                                                                                                  
  font-weight: bold ;
  font-size: 15px ;
}

#main {
  padding: 15px 20px 10px 20px ;
}

.dir a{
  margin: 0 4px 4px 0;
  width:130px;
  height:80px;
  padding: 3px;
  background-size: 100%;
  float: left;
  padding-top: 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  overflow: hidden;
}

.dir span {
  padding: 2px 4px ;
  background-color : white ; 
  font-weight: bold ;
  font-size: 20px;                                                                                       
}

#pics {
  clear: both;
  height: 40px ;
}

#pics ul {
  padding: 0px;
  margin: 0px;

}

#items {
  clear:both ;
  list-style: none ;
}

.item {
  margin: 0 8px  8px 0;
  padding-bottom: 12px;
  width: 260px;
  height: 260px;
  float:left;
  overflow:hidden;
  text-align: left;
}

.item h4 {
  margin: 3px;
}

.thumb{
  text-align:center;
  background: #E1EDF2 ;
}

.thumb img{
  margin: 0 0 -3px 0;
  overflow: hidden;
  height: 210px;
}

.flowplayer {
  height: 204px;
  background-color: #E1EdF2;
}

.info {
  margin: 2px ;
}

.embed {
  float: right;
}

.embed-code {
  padding: 2px;
  width: 140px;
  height: 14px;
}

a {
  color: #0088cc;
  text-decoration: none;
  }

input {
  border: 1px solid #999;
  background-color: #eee ;
  color: #777;
}
