#nav {
  display: block;
  clear: left;
  padding: 40px 20px 10px 20px ;
}

#nav a{
  font-weight: bold ;
  font-size: 30px ; 
}

#main {
  padding: 0px 20px 40px 20px ;
}

#back {
  float:left ; 
  padding: 0px 20px 0px 20px ;
}

#error {
  clear: both ;
  padding: 10px 20px 0px 20px ;
}

.title {
  float: left ;
  padding: 10px 20px 0px 20px ;
  font-weight: bolder ;
  font-size: 50px ;
  line-height: 60px ;

}

.pannels {
  display:block ;
  clear: both;
  padding: 10px 0px 0px 0px ;
  list-style: none;
  list-style-position: initial;
  list-style-type: none;
  list-style-image: initial;
}

#dirs {
  padding: 10px 0px 0px 0px ;
  min-height: 25px;
}

.dir {
  float: left;
  overflow: hidden;
  overflow: hidden;
  margin: 0;
  margin-right: 10px;
  margin-right: 10px;
  padding:0;
  max-width: 120px;
  max-height: 80px;
}

.dir a {
  position: relative ;
  display: block;
  padding-top: 20px ;
  width: 100px;
  height: 80px;
  background-size: 100%;
  text-align: center;
  text-decoration : none ;
}

.dir a:hover,
.dir a:focus { 
  background-color: #fffccc;
  text-decoration: none;
}

.dir span {
  padding: 2px 4px ;
  background-color : white ; 
  font-weight: bold ;
  font-size: 20px;
}


.item {
  float: left;
  overflow: hidden;
  margin: 1px 0px 10px 0px;
  padding : 0px 4px 0px 4px;
  width: 260px;
  height: 290px;
  text-align: left;
  background ; #111 ;
}

.item:link,
.item:focus,
.item:hover,
.item:active {
  background-color: #fffccc;
}

.item h4 {
  margin: 3px;
}

.info {
  margin: 2px;
}
.embed {
  float: right;
}

.embed-code {
  padding: 2px;
  width: 140px;
  height: 14px;
  border: 1px solid #777;
  background-color: #eee ;
  color: #777;
}

.thumb{
  background: black ;
}

.thumb img {
  display: table-cell;
  overflow: hidden;
  max-height:230px;
  width:260px;
  vertical-align: middle;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

ul.pannels li {
  position:relative;
  display:block;
}
}

