{% extends "layout.html" %}
{% set dir ,  subdirs , files = dirs.keys()[0] , dirs[dirs.keys()[0]]['subdirs'] , dirs[dirs.keys()[0]]['files'] %}
{% block title %}{{ sitename }}: {{ dir }}{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>
<script src="{{ url_for( 'static' , filename='js/flowplayer.min.js' ) }}"></script>
<link href="{{url_for('static', filename='css/lightbox.css')}}" rel="stylesheet" type="stylesheet"/>
<link href="{{ url_for('static', filename='css/minimalist.css') }}" rel="stylesheet" type="text/css" /> 
{% endblock %}

{% block content %}

<div id="head">
  <div class="title">
    <font color="#0667C3" >{{sitename[:-1]}}</font><font color="#FF0080" >{{sitename[-1:]}}</font>
  </div>
  {% if not current_user.is_authenticated() %}
  <div id="login">
    <form action="/login" method="post" class="login">
      <dl>
	<dd><input type="hidden" name="next" value="{{ dirs[0]['dir'] }}"/></dd>
	<dd><input type="text" name="username" placeholder="Username" /></dd>
	<dd><input type="password"name="password" placeholder="Password" /></dd>
	<dd>Remember:<input type="checkbox" name="remember"/> <input type="submit" class="hidden_button"/>
      </dl>
    </form>
  </div>
  {% endif %}
  {%if current_user.is_authenticated() %}
  <div id="logout" class="login">
    <a href="/logout">Logout</a><br/>
    <a href="/upload">Upload</a>
  </div>
  {%endif%}
</div>

<div id="nav">
  <a href="/">root</a>
  {% set l = '' %}
  {%for d in dir.split('/') %}
  {%if d != '' %}
  {% set l = l + d + '/' %}
  /
  <a href="/{{ l }}">{{ d }}</a>
  {%endif%}
  {%endfor%}
</div>
<div id="back">
  <a href="javascript:history.go(-1);">back</a>
</div>
<div id="main">

  <div id="dirs">
    <br/>
    {% set n = 1 %}
    {% for subdir in subdirs  %}
    <div class="dir">
      {% set background = dirs[dir+subdir+'/']['files'][0]['name'] %}
      {% if background[-3:] == 'mp4'%} {% set background = background + '.png' %} {%endif%}
      <a href="/{{ dir + subdir }}/" style="background-image: url({{ url_for( 'static' , filename= 'media/' + dir + subdir + '/thumbs/'  + background ) }});">
	<span>{{ subdir }} </span>
      </a>
    </div>
    {% set n = n + 1 %}
    {% endfor %}
  </div>

  <div id="pics">
    <ul id="items" class="pannels">
      {% for f in files %}

      {% set type , name = f['type'] , f['name'] %}

      <li id={{ name }} class="item">
      <h4>{{ name[:-4] }}</h4>
      {%if type == 'img'%}
      <div class="thumb">
	<a href="{{ url_for( 'static', filename = 'media/' + dir +'web/'+ name ) }}" rel="lightbox[{{ dir }}]">
	  <img src="{{ url_for( 'static' , filename = 'media/' + dir +'thumbs/'+ name ) }}" alt="{{ name }}" title="{{ name.lower()[:-4] }}" border="0"/>
	</a>
      </div>
      {% elif type == 'vid' %}
      <div class="flowplayer color-light">
	<video>
	  <source type="video/{{ name[-3:] }}" src="{{ url_for('static' , filename = 'media/' + dir + name ) }}" > 
	</video>
      </div>
      {% endif %}
      <div class="info">
	<a href="#{{ name }}">#</a>
	{% if type == 'img' %}
	<a href="/{{ md + dir + name }}" target="new">image</a>
	<span class="embed">embed: <input class="embed-code" onClick="this.select()" value="&lt;a href=&quot;{{ url_for('static', _external=True, filename = dir ) }}#{{ name|e }}&quot;&gt;&lt;img src=&quot;{{ url_for('static' , _external=True , filename = dir +'web/'+ name ) }}&quot; alt=&quot;{{ name[:-4]  }}&quot; title=&quot;{{ name[:-4] }}&quot;&gt;&lt;/a&gt;"/>
	</span>
	{% elif type == 'vid' %}
	<a href="/{{ md + dir + name }}" target="new">video</a>

	bla
	{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
{% block footer %}
<div id="footer" style="clear:both;">
  {{dirs}}
</div>
{% endblock%}

