{% extends "layout.html" %}
{% block title %}{{ sitename }}: {{ dirs[0]['dir'] }}{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>
<link href="{{url_for('static', filename='lightbox.css')}}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div id="head">
  <div class="title">
    <font color="#0667C3" >{{sitename[:-1]}}</font><font color="#FF0080" >{{sitename[-1:]}}</font>
  </div>
</div>

<div id="nav">
  {% set l = '' %}
  {%for d in dirs[0]['dir'].split('/') %}
  {%if d != '' %}
  {% set l = l + d + '/' %}
  <a href="/{{ l }}">{{ d }}/</a>
  {%endif%}
  {%endfor%}
</div>
<div id="back">
  <a href="javascript:history.go(-1);">back</a>
</div>
<div id="main">

  <div id="dirs">
    <br/>
    {% set n = 1 %}
    {% for subdir in dirs[0]['subdirs']  %}
    <div class="dir">
      <a href="/{{ dirs[0]['dir'] + subdir }}/" style="background-image: url({{ url_for( 'static' , filename=  'pics/' + dirs[0]['dir'] + subdir + '/thumbs/'  + dirs[n]['files'][0]['name'] ) }});">
	<span>{{ subdir }} </span>
      </a>
    </div>
    {% set n = n + 1 %}
    {% endfor %}
  </div>

  <div id="pics">
    <ul id="items" class="pannels">
      {% for f in dirs[0]['files'] %}
      <li id={{ f['name'] }} class="item">
      <h4>{{ f['name'][:-4] }}</h4>
      <div class="thumb">
	<a href="{{ url_for( 'static', filename = 'pics/' + dirs[0]['dir']+'web/'+f['name']) }}" rel="lightbox[{{ dirs[0]['dir'] }}]">
	  <img src="{{ url_for( 'static' , filename = 'pics/' + dirs[0]['dir']+'thumbs/'+f['name'] ) }}" alt="{{ f['name'] }}" title="{{ f['name'].lower()[:-4] }}" border="0"/>
	</a>
      </div>
      <div class="info">
	<a href="#{{ f['name'] }}">#</a>
	<a href="/{{ md + dirs[0]['dir']+f['name'] }}" target="new">image</a>
	<span class="embed">embed: <input class="embed-code" onClick="this.select()" value="&lt;a href=&quot;{{ url_for('static', _external=True, filename =  dirs[0]['dir']) }}#{{ f['name']|e }}&quot;&gt;&lt;img src=&quot;{{ url_for('static' , _external=True , filename = dirs[0]['dir']+'web/'+f['name'] ) }}&quot; alt=&quot;{{ f['name'][:-4]  }}&quot; title=&quot;{{ f['name'][:-4] }}&quot;&gt;&lt;/a&gt;"/>
	</span>
      </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
{% block footer %}
<!--
<div id="footer" style="clear:both;">
  {{ dirs }}
</div>
-->
{% endblock%}

