{% extends "layout.html" %}
{% block title %}{{ sitename }}: Upload{% endblock %}
{% block scripts %}

<script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for( 'static' , filename='js/pgpy.js') }} "></script>
{% endblock %}
{% block content %}
  <div id="upload">
    <h4>Upload</h4>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data" id="form-upload">
      <dl>
	<dt>Select files:</dt>
	<dd><input type="file" multiple name="media" /></dd>
	<dd>
	<select name="folder" id="folder">
	  {%set first = 1 %}
	  {% for sub in subs %}
	  <option value="{{sub}}" {%if first == 1%} selected="yes" {%endif%} >/{{ sub }}</option>
	  {% set first = 0 %}
	  {% endfor %}
	  <option value="other">Add a new folder:</option>
	</select>
	</dd>
	<dd><input type="text" id="custom_folder" name="folder" placeholder="Folder" autocomplete="off"/></dd>
	<dd><input type="submit" id="subsubmit" value="Upload"/><dd>
      </dl>
    </form>
  </div>
</div>
<div id="back">
  <a href="/">back</a>
</div>
{% endblock %}
{% block footer %}
<!--
<div id="footer" style="clear:both;">
  {{ dirs }}
</div>
-->
{% endblock%}

